body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;color: white;
}

.nav-link {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
    color: white;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin: 32px;
}

.article-but {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: white;
    padding: ;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}

header, nav, .info, footer {
    display: flex;
}

.article-but1 {
    background-color: #a1652d;
}

.article-but2 {
    background-color: #33aa00;
}

.article-but3 {
    background-color: #bc0f0f;
}

.article-but4 {
    background-color: #ac13a6;
}

footer {
    background-color: #b41195;
}



